//TODO: also rename this to base.less or something
// TODO: merge reset.css into this

html, body {
  font-family: sans-serif;
  background-color: #e8e8e8;
}

header {
  padding: 10px;
  h1 {
    text-shadow: 1px 1px 6px gray;
  }
}

.content {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  height: 100%;
}

img {
  display: inline-block;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}
