<!DOCTYPE html>
<html>
<head>
  <title>Where's The Food At?</title>

  <meta name="viewport" content="user-scalable=no, width=device-width">

  <meta name="author" content="Lowell Kirsh">
  <meta name="description" content="Helping you find street food nearby">
  <meta name="keywords" content="street,food,streetfood,truck,foodtruck,local,yelp,foursquare">

  <link rel="stylesheet" href="../static/css/reset.css?version={{version}}"/>
  <link rel="stylesheet/less" type="text/css" href="../static/css/base.less?version={{version}}"/>
  <link rel="stylesheet/less" type="text/css" href="../static/css/index.less?version={{version}}"/>
  <script type="text/javascript" src="../static/js/external/less-1.3.0.min.js?version={{version}}"></script>

  <!--<script src="http://localhost:8080/target/target-script-min.js#anonymous"></script>-->
  <!--<script src="http://debug.phonegap.com/target/target-script-min.js#pookie"></script>-->

  <!-- client side template -->
  <script type="text/html" id="tpl_business">
    <div class="business">
      <div class="summary">
        [[#image_url]]<img src="[[image_url]]">[[/image_url]]<img src="[[map_url]]">
        <div class="overlay"></div>
        <div class="description">
          <h3 class="title">[[name]]</h3>
          [[#pretty_location]]
            <h4>[[pretty_location]]</h4>
          [[/pretty_location]]
          <h4>[[distance]] mi</h4>
        </div>
      </div>
      <div class="extended-info">
        <ul>
          [[#is_from_yelp]]
            <li><img class="rating-image" src="[[rating_img_url]]"> ([[review_count]] reviews)</li>
          [[/is_from_yelp]]
          [[#pretty_categories]]
            <li>Categories: [[pretty_categories]]</li>
          [[/pretty_categories]]
          <li><a href="[[directions_url]]">Directions</a></li>
          [[#external_url]]
            <li><a href="[[external_url]]">[[external_url_text]]</a></li>
          [[/external_url]]
          [[#twitter_url]]
            <li><a href="http://twitter.com/[[twitter_url]]">Twitter: [[twitter_url]]</a></li>
          [[/twitter_url]]
        </ul>
      </div>
    </div>
  </script>

  <!-- google analytics -->
  <script type="text/javascript">
    // TODO: move to js file
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-31499537-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>

<body>
<div class="content">
  <header>
    <h1>Where's The Food At?</h1>
    <h4>Helping you find street food nearby</h4>
    <a href="http://lowellk.github.com/wheresthefoodat" class="fork-me-banner">
      <img src="static/img/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub">
    </a>
  </header>

  <div class="datasources">
    Using data from:
    <label>
      <input type="checkbox" class="js-yelp-checkbox">
      Yelp
    </label>
    <label>
      <input type="checkbox" class="js-foursquare-checkbox">
      Foursquare
    </label>
  </div>

  <div class="yelp-businesses" style="display: none">
    <h2 class="results-header">Results from Yelp</h2>

    <div class="businesses">
      <img src="../static/img/ajax-loader.gif" class="spinner">
    </div>
  </div>
  <div class="foursquare-businesses" style="display: none">
    <h2 class="results-header">Results from Foursquare</h2>

    <div class="businesses">
      <img src="../static/img/ajax-loader.gif" class="spinner">
    </div>
  </div>

  <footer>
    <p>Created by <a href="http://lowellkirsh.com">Lowell Kirsh</a></p>
    <!--http://www.yelp.com/developers/getting_started/display_requirements-->
    <a href="http://yelp.com">
      <img src="../static/img/Powered_By_Yelp_Black.png">
    </a>
    <!--https://foursquare.com/about/logos-->
    <a href="http://foursquare.com">
      <img src="../static/img/poweredByFoursquare_cropped.png">
    </a>
  </footer>
</div>
<script type="text/javascript" src="../static/js/external/LAB.min.js?version={{version}}"></script>
<script>
  // load scripts then start the app
  $LAB
      .script('js/external/jquery.min.js?version={{version}}')
      .script('js/external/oauth.js?version={{version}}')
      .script('js/external/sha1.js?version={{version}}')
      .script('js/external/underscore-min.js?version={{version}}')
      .script('js/external/jstorage.js?version={{version}}')
      .script('js/external/jquery.color.js?version={{version}}')
      .script('js/external/mustache.js?version={{version}}')
      .script('js/util.js?version={{version}}')
      .script('js/place.js?version={{version}}')
      .script('js/yelp.js?version={{version}}')
      .script('js/foursquare.js?version={{version}}')
      .script('js/index.js?version={{version}}')
      .wait(function() {
        // override mustache tags to not interfere with jinja2 on the backend
        // this must come before ICanHaz is loaded
        Mustache.tags = ['[[', ']]'];
      })
      .script('js/external/ICanHaz-no-mustache.min.js?version={{version}}')
      .script('js/jquery-extensions.js?version={{version}}') // must come after jquery
      .wait(function () {
        $(function () { // wait til dom loaded so ICanHaz can do its thing
          var indexPage = new IndexPage();
          indexPage.init();
        });
      });
</script>
</body>
</html>



